.login-back-ground {
  background-color: var(--main-back-ground);
  min-height: 100vh;
}

/* #b49ae1 */
.login-wrapper {
  background: white;
}

.login-column-left {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(180, 154, 224, 1) 0%,
    rgba(152, 107, 223, 1) 53%,
    rgba(180, 154, 224, 1) 100%
  );
}
