.loader {
  --border-color: rgb(184, 251, 184);
  border: 4px solid var(--border-color);
  border-top-color: rgb(62, 66, 62);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  z-index: 100;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}