@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-back-ground: #e4dcf5;
  font-family: 'Roboto', sans-serif;
}

#settings-dropdown {
  transform: translate(-48px, 30px) !important;
}

.home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.main-layout {
  height: calc(100vh - 80px);
}

.chat-root {
  height: calc(100vh - 180px);
  min-height: 600px;
  max-width: 1200px;
}
